* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -14px;
}

.logo img {
    border: 2px solid black;
    border-radius: 50%;
    width: 128px;
    height: 120px;
    margin: 37px 21px;
}


ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li a {
    padding: 9px 46px;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    color: rgb(137, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}


/* hover effect */
li a::after {
    content: '';
    /* Displays an element as a block element. It starts on a new line, and takes up the whole width */
    display: block;
    height: 6px;
    width: 0;
    background: linear-gradient(145deg, rgb(52, 235, 255), rgb(12, 0, 123));
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

li a:visited {
    color: rgba(32, 0, 106, 0.754);
}

header button {
    border: 1.5x solid black;
    border-radius: 10px;
    background-color: rgb(149, 243, 255);
    color: rgb(0, 12, 62);
    margin-right: 65px;
    padding: 10px 33px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}

header button:hover {
    background-color: rgb(209, 202, 220);
    color: rgb(88, 0, 0);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;

}

.content-left h1 {
    font-size: 4rem;
    letter-spacing: 4.5px;
    padding-bottom: 2px;
    color: rgb(62, 0, 121);
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: -20px 33px;
}

.content-left h2 {
    font-size: 3rem;
    color: rgb(62, 0, 121);
    letter-spacing: 2px;
    padding-bottom: 30px;
    padding-top: 17px;
    margin: 10px 33px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.content-left p {
    font-family: 'Bitter', serif;
    margin-left: 33px;
    font-size: 23px;
    letter-spacing: 2.5px;
    padding: 2px;
    font-weight: bold;
    color: saddlebrown;
}

.content-left button {
    /* border: 1.5x solid black; */
    border-radius: 10px;
    background-color: rgb(255 159 142);
    color: rgb(0 0 0);
    /* margin-right: 67px; */
    padding: 8px 19px;
    font-size: 20px;
    margin-left: 33px;
    margin-top: 40px;
    cursor: pointer;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto Slab', serif;*/
    font-family: 'Bitter', serif;
    font-style: italic;
   
}

.content-left button:hover {
    background-color: rgb(23, 196, 219);
    color: rgb(6, 94, 0);
}

.content-right img {
    border-radius: 50%;
    width: 347px;
    height: 245px;
}

footer {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links img {
    border-radius: 14px;
    /* width: 70%; */
    width: 137.5px;
    height: 137.5px;
}

#hackerRank {
    height: 133.45px;
    width: 133.45px;
}

.links a {
    text-decoration: none;
    padding-top: 17px;
    font-size: 1.5rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

#codes {
    margin: 30px 20px;
}

#codes img {
    width: 75%;
    margin: auto;
    display: block;
    border: 4px solid #e3a2a2;
    border-radius: 60px;
}

.texts {
    /* margin-bottom: 14px; */
    width: 44%;
    margin: auto;
    /* display: block; */
    font-size: 18px;
    padding-top: 90px;
    font-weight: 900;
    letter-spacing: 1.7px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 4px;
}

#hired, #learn{
    text-decoration: none;
}

